<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.knerd.applicationmanager">
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:fullBackupContent="true">
        <activity
                android:name=".MainActivity"
                android:label="@string/title_activity_main"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.AddAgencyActivity"
                android:label="@string/title_activity_add_agency"
                android:parentActivityName=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="de.knerd.applicationmanager.MainActivity"/>
        </activity>
        <activity
                android:name=".activities.AddAgentActivity"
                android:label="@string/title_activity_add_agent"
                android:parentActivityName=".activities.AgencyDetailActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="de.knerd.applicationmanager.activities.AgencyDetailActivity"/>
        </activity>
        <activity
                android:name=".activities.AgencyDetailActivity"
                android:label="@string/title_activity_agency_detail"
                android:parentActivityName=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="de.knerd.applicationmanager.MainActivity"/>
        </activity>
        <activity
                android:name=".activities.AgentDetailActivity"
                android:label="@string/title_activity_agency_detail"
                android:parentActivityName=".activities.AgencyDetailActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="de.knerd.applicationmanager.activities.AgencyDetailActivity"/>
        </activity>
        <activity
                android:name=".activities.AddApplicationActivity"
                android:label="@string/title_activity_add_application"
                android:parentActivityName=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="de.knerd.applicationmanager.MainActivity"/>
        </activity>
        <activity
                android:name=".activities.ApplicationDetailActivity"
                android:label="@string/title_activity_application_detail"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>